html, body{
    margin: 0;
    padding: 0;
    background-color: #FFA20D;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    background-color: #E8770B;
    height: 170px;
    border-bottom: 7px solid #FAFAFA;
}

.logo {
    height: 150px;
    width: 150px;
    position: relative;
    left: 2%;
    top: 2%;
}

fieldset {
	position: absolute;
	top: 2%;
	left: 20%;
	border: none;
	padding: 0;


}

input {
	background: #FAFAFA;
	padding: 25px;
	width: 700px;
	font-size: 55px;
	color: #E8360B;
	border-radius: 90px;
	background-color: #FAFAFA;
}

.circle__1 {
	position: absolute;
	width: 800px;
	height: 800px;
	top: 20%;
	left: 35%;
	margin-left: -250px;
	overflow: hidden;
}

.circle__2 {
	position: absolute;
	width: 800px;
	height: 800px;
	top: 20%;
	left: 8%;
	
}

.circle__1 {

	transform-origin:50% 50%;
    
    -webkit-animation: myfirst 10s forwards;
    /*Forwards bloque l'animation à sa position finale*/
}

@-webkit-keyframes myfirst {

    from{-webkit-transform: rotate(0deg);}
    to{-webkit-transform: rotate(1280deg);}

}

.circle__2 {

	transform-origin:50% 50%;
    
    -webkit-animation: myfirst 8s forwards;
    /*Forwards bloque l'animation à sa position finale*/
}

@-webkit-keyframes myfirst {

    0%{-webkit-transform: rotate(-0deg);}
    70%{-webkit-transform: rotate(280deg);}
    60%{-webkit-transform: rotate(280deg);}
    100%{-webkit-transform: rotate(-80deg);}

}

button{
	position: absolute;
	bottom: 10%;
	left: 50%;
	width: 500px;
	padding: 40px;
	border-radius: 90px;
	background-color: #FAFAFA;
	font-size: 60px;
	color: #FF180D;
	margin-left: -250px;
	font-family: 'Josefin Sans', sans-serif;
}








