@media only screenand (max-width : 320px);

body {
	max-width: 100%;
	max-height: 100%;
	margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

form {
	width: 100%;
}


fieldset {
	width: 75%;
	height: 10%;
	position: absolute;
	top: 1%;
	left: 20%;
	padding: 0;

}

input {
	position: relative;
	padding: 9%;
	width: 100%;
	height: 24%;
	font-size: 3em;
	color: #E8360B;
	border-radius: 90px;
	background-color: #FAFAFA;
}

.header {
	height: 170px;
	width: 100%;
	background-color: #E88D00;
	border-bottom: 7px solid black;
}

.logo {
    width: 40%;
    height: 40%;
    position: absolute;
    top: 37%;
    left: 30%;
}

.back {
    width: 100%;
    height: 28%;
    position: absolute;
   	bottom: 0%;
}


.loading {
	width: 50%;
	position: absolute;
	left: 25%;
	bottom: 30%;
}

button {
	border: none;
	
	padding: 6%;
	

}

.wheel1,.wheel2 {
	padding: 4%;
	width: 20%;
	background-color: #FAFAFA;
	border-radius: 90px;
	font-size: 2em;
	position: fixed;
	left: 40%;
	bottom: 10%;
	z-index: 1;
}


/******************* ENSEMBLE DES SECTIONS & CONTENEURS **************************/

.section__screen>h1 {
    font-weight: bold;
    text-decoration: underline;
    font-size: 8em;
    width: 100%;
    color: black;
    position: absolute;
 	text-align: center;
    top: 19%;
}

.section__screen>p {
	width: 100%;
	color: black;
	font-size: 3em;
	position: absolute;
	text-align: center;
	top: 32%;

}

.section {

}

.section__screen {
	z-index: 2;
	background-image:linear-gradient(#FCD40D, #EB5500);
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-animation: landing 1s 5s forwards;
	


    /*Forwards bloque l'animation à sa position finale*/
}


.section__map {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #EB5500;
	z-index: 1;
}

.section__list {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #663399;
	-webkit-transform: translateX(100%);
	z-index: 2;
}

.section__list--list {
	-webkit-animation: TransPageList 1s forwards;
}

.section__list--map {
	-webkit-animation: TransPageMap 1s forwards;
}

/*************************** FIN SECTION ***************************/

.logo_small {
    height: 90px;
    width: 120px;
    position: absolute;
    left: 5%;
    top: 3%;
}

.circle__1 {
	position: absolute;
	width: 30%;
	height: 30%;
	top: 50%;
	left: 50%;
}

.circle__2 {
	position: absolute;
	width: 30%;
	height: 30%;
	top: 50%;
	left: 50%;
	
}

/*********************ANIMATION DES PAGES ET CONTENUS**************/


@-webkit-keyframes TransPageList {

	from{-webkit-transform: translateX(100%);}
	to{-webkit-transform: translateX(0%);}
}

@-webkit-keyframes TransPageMap {

	from{-webkit-transform: translateX(0%);}
	to{-webkit-transform: translateX(-100%);}
}

@-webkit-keyframes landing {
    
	10% {-webkit-transform: translateY(0%);}
    100% {-webkit-transform: translateY(-180%);}
}



















